<h2>{{ team.name }} Details</h2>
<div><span>id: </span>{{team.id}}</div>
<div><span>name: </span>{{team.name}}</div>
<div>
    <label>name:
      <input [(ngModel)]="team.name" placeholder="name">
    </label>
</div>
